################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2020v48/CSharpRepetition/Facit för V47/.vs/CSharpRepetition/DesignTimeBuild/.dtbcache.v2
