<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
     <add name="InitialConnectionString"
      connectionString= "server=localhost;database=sys;uid=root;port=3307;password=password;Allow User Variables=True" />
     <add name="myConnectionString"
      connectionString= "server=127.0.0.1;database=husrum_fastigheter;uid=root;port=3307;password=password;Allow User Variables=True" />
   </connectionStrings>
</configuration>